@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Информация",
        Current = "About",
        CurrentName = "За нас",
        HasSearchField = false,
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704892/vsqim7crkmv9egy3anmg.jpg"
    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-about align-self-stretch" style="background-image: url(/images/About-Body.jpg); width: 100%;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate">
                <h2 class="mb-4">Сдружение с нестопанска цел "Диалог"</h2>
                <p>
                    Сдружение „Диалог“, град Средец  е учредено с Решение на Бургаски окръжен съд от 20.04.2011г.. Вписано е в Централния регистър на юридическите лица с нестопанска цел за осъществяване на обществено полезна дейност, под № 20110705003 с Удостоверение на Министерство на правосъдието № 003/05.07.2011 година, град София.
                </p>
                <p>
                    Сдружение „Диалог“ има за цел да открива, анализира и подпомага решаването на проблеми, свързани с развитието на гражданското общество в България, респективно в община Средец, социалната интеграция, провежда политика в областта на образованието, заетостта, кариерното развитие, здравеопазването, опазването на общочовешките, гражданските, социалните и културните права, евроинтеграцията, иновациите, екологията, спорта, културата и изкуството, борбата срещу дискриминацията.
                </p>
                <p>
                    Основните ползватели са младежите в Община Средец, представители на уязвими групи и представители на етническите малцинства.
                </p>
                <p>
                    В организацията членуват хора работещи в образователната социалната и правната сфера, активни представители на гражданското общество в Средец. Членове на Общото Събрание имат доказан опит в реализирането на инфраструктурни проекти и проекти от типа „хора за хора“, финансирани от различни грандове на ЕС- Оперативни програми, Структурни фондове и други донорски програми.
                </p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-12 mt-4 ftco-animate">
                <p>
                    Сдружение с нестопанска цел „Диалог” участва като партньор в проект „Устойчиво развитие чрез мултикултурно образование – грижа за деца в риск в Община Средец” BG06-216 по Програма „Деца и младежи в риск”, финансирана от Финансов механизъм на Европейското икономическо пространство 2009 – 2014 г. на стойност 225 328 Евро. Бенефициент по проекта е община Средец, а Сдружение „Диалог“ е негов партньор. Основната цел на проекта е подобряване състоянието на децата в риск в Община Средец на възраст от 3-6 години, с акцент върху образователната интеграция на деца от уязвими социални групи, включително от ромски произход. Продължителността на изпълнение на проекта е до 16. 04. 2017 г. Дейностите  се изпълняват в петте детски градини на територията на общината.
                </p>
                <p>
                    Кандидатства успешно по Програма за подкрепа на неправителствените организации в България на Финансовия механизъм на Европейското икономическо пространство BG05/986  Договор № 257/14.11.2014 г. с проекта „Ти решаваш!” на стойност 18 187 Евро. Проектът е приключил успешно на 14.11.2015 г. Целта на проекта е  овластяване на младежите чрез създаване на общински Младежки Съвет, който да отговори на потребностите на младото поколение да участват активно във вземането на решения и създаването на политики свързани с развитието на общината. За целите на проекта е създаден действащ Общински младежки съвет. Избрани са 17  младежи - общински съветници, чрез провеждане на свободни демократични избори по реален модел на изборния процес в България.  Децата и младежите в община Средец са основната целева група на проекта. Специфичните  цели на проекта  са насочени към  насърчаване развитието на демократичните ценности и участието на младежите в обществения и културен живот на общината и в процеса на взимане на решения по въпроси свързани с младежта. Дейностите по проекта включват образователна лектория за демократично участие и честен изборен процес. Теми на обученията са  "Равни права"; "Демократичните ценности"; "Толерантност и честен изборен процес“. Целта на дейността е  насърчаване развитието на демократичните ценности и участието на младежите в обществения и културният живот на общината. Провеждане на избори сред младежите по модел на реалният изборен процес с цел създаване на Общински Младежки Съвет.
                </p>
                <p>
                    Участва в проект за социално включване „Бъдеще сега: Създаване на условия за социално включване на децата в община Средец”, финансиран със Заем 7612  BG на Международната банка за възстановяване и развитие в периода 2008 – 2015, МТСП. Проекта е на стойност 1 100 000 лева. Проектът за социално включване цели подобрена училищна готовност на децата от семейства с ниски доходи и децата с  увреждания на възраст до 7 години, повишено общо благосъстояние на децата, разширяване на обхвата на услугите, свързани с грижи за деца, предоставяни на деца с ниски доходи и деца с увреждания на възраст до 7 години. Предвидени са интегрирани социални услуги и услуги за грижи за деца, специфична подкрепа за деца с увреждания и техните семейства, създаване на условия за социално включване на децата в община Средец.
                </p>
            </div>
        </div>
    </div>
</section>