@{

    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Privacy Policy",
        Current = "Privacy",
        HasSearchField = false,
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704892/zdmjgypxdjn0j9lditqw.jpg"

    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <h1>Политика за поверителност на личните данни</h1>
        <h3>1. Въведение</h3>

        <p>Ние сме ангажирани с опазването на личните данни на нашите посетители в сайта. В тази декларация ние обясняваме как ние ще приемем вашата лична информация.</p>

        <p>Ще ви помолим да се съгласявате с използваните от нас бисквитки в съответствие с условията на тази политика, когато за първи път, посетете нашия сайт. С използването на нашия уеб сайт и съгласяването с нашата политика вие се съгласявате с използваните от нас бисквитки в съответствие с условията на тази политика.</p>

        <h3>2. Събиране на лична информация</h3>

        <p>Ние може да събираме, съхраняваме и използваме следните видове лична информация:</p>
        <ul>
            <li>Информация за вашия компютър и за посещенията ви при използването на този сайт (включително вашия IP адрес, географско местоположение, тип на браузъра и версията, операционна система, дължина на посещение, посетените страници);</li>

            <li>Информация, която ни предоставяте при регистрация в нашия сайт (включително имейл адрес);</li>

            <li>Информация, която предоставяте при попълването профила ви в нашия сайт (включително вашето име, адрес, телефон);</li>

            <li>Информация, съдържаща се в или свързана с всякаква комуникация, направена/изпратена чрез нашия уебсайт (включително съдържанието на комуникацията, мета данни свързани с комуникацията) ;</li>

            <li>Всяка друга лична информация, която сте избрали, да изпратите до нас;</li>
        </ul>
        <p>Преди да разкриете пред нас личната информация на друго лице (трето лице), трябва да получите разрешение от това лице, както за разкриването така и за обработването на личните им данни в съответствие с тази политика.</p>

        <h3>3. Използване на личните Ви данни</h3>

        <p>Лична информация, предоставена ни от вас ще се използва за целите, определени в тази политика.</p>

        <p>Ние може да използваме вашата лична информация за:</p>
        <ul>
            <li>Администрираме нашия сайт и бизнеса;</li>

            <li>Персонализиране на нашия сайт за вас;</li>

            <li>За да може да използвате&nbsp; услугите на нашия уебсайт;</li>
        </ul>
        <p>Ние няма да предоставим вашата лична информация на трети лица независимо за какви цели&nbsp; без вашето изрично съгласие.</p>

        <h3>4. Разкриване на лична информация</h3>

        <p>Ние може да разкрием вашата лична информация:</p>
        <ul>
            <li>До такава степен, че сме длъжни да го направим по закон;</li>

            <li>Във връзка с всякакви текущи или бъдещи съдебни производства;</li>
        </ul>
        <p>С изключение на предвиденото в тази политика, ние няма да предоставим лична информация на трети страни.</p>

        <h3>5. Интернационален обмен на данни</h3>

        <p>Информацията, която събираме, може да бъде съхранявана, обработвана и прехвърлена между всяка от страните, в които работим, за да се даде възможност на нас, за да използваме информацията в съответствие с тази политика.</p>

        <p>Личната информация, която публикувате на нашата интернет страница или изпратите за публикуване на нашия сайт може да бъде на разпространена, чрез интернет, по целия свят. Ние не може да попречим на използването или злоупотребата с такава информация от други.</p>

        <p>Вие изрично се съгласявате с прехвърлянето на лична информация, описана в този раздел 5.</p>

        <h3>6. Запазване на личната информация</h3>

        <p>Този раздел 6 описва процедурите за съхранение на данни, които са създадени, за да гарантират че ние се съобразяме правните задължения във връзка със задържането и заличаване на личните данни на нашите потребители.</p>

        <p>Личната информация, която обработваме, за всякакви цели не трябва да се съхранява за по-дълго, отколкото е необходимо за тази цел или тези цели.</p>

        <p>Независимо от останалите разпоредби на настоящия раздел 6, ние ще запазим документи (включително електронни документи), съдържащи лични данни:</p>
        <ul>
            <li>До такава степен, че ние сме длъжни да го правим по закон;</li>

            <li>Ако вярваме, че документите могат да бъдат от значение за всички текущи или бъдещи съдебни производства;</li>

            <li>За уражняване или защита на нашите законови права (включително предоставяне на информация на други лица за целите на борбата с измамите и намаляване на кредитния риск);</li>
        </ul>

        <h3>7. Защита на личната информация</h3>

        <p>Ние ще предприемем разумни технически и организационни мерки, за да предотвратим загубата, злоупотребата или изтриването на Вашата лична информация.</p>

        <p>Ние ще съхраняваме цялата лична информация, която предоставяте на нашите защитени с парола сървъри.</p>

        <p>Вие се съгласявате, че предаването на информация по интернет в своята същност е несигурно, а ние не можем да гарантираме сигурността на данните, изпратени по интернет.</p>

        <p>Вие носите отговорност за запазване на паролата, която използвате за достъп до нашия уеб сайт;</p>

        <h3>8. Изменения</h3>

        <p>Имаме право да актуализираме тази политика от време на време, като публикува нова версия на нашия уебсайт.</p>

        <p>Можете да разгледате тази страница от време на време, за да се гарантира, че сте доволни с всякакви промени в тази политика.</p>

        <p>Ние може да Ви известяваме за промени в тази политика по електронна поща или чрез система за лични съобщения в нашата интернет страница.</p>

        <h3>9. Вашите права</h3>
        <p>Може да поискате да ви предоставим всякаква лична информация, която съхраняваме за вас. Предоставяне на такава информация ще бъде предмет на:</p>
        <ul>
            <li>Може да посикаме от вас подходящо доказателство за вашата самоличност (за тази цел, ние обикновено изискваме фотокопие от личната карта, заверен от нотариус. Може да поискаме и копие от фактури върху които пише вашият физически адрес като фактури за ток, вода, телефон).</li>
        </ul>
        <p>Ние може да не разкриваме всяка лична информация, която е поискана до степента, позволена от закона.</p>

        <p>На практика с използването на нашите услуги и уеб сайт вие се съгласявате ние да използваме вашата лична информация за маркетингови цели. Ние ще ви предоставим възможност да се откажете от използването на личните Ви данни за маркетингови цели.</p>

        <h3>10. Други уеб сайтове - трети страни</h3>

        <p>Нашият сайт съдържа хипервръзки към и подробности за уеб сайтове на трети страни.</p>

        <p>Ние нямаме контрол над тях и не носим отговорност за политиката за конфиденциалност и практики на трети лица.</p>

        <h3>11. Актуализиране на информацията</h3>

        <p>Моля, уведомете ни, ако личната информация, която имаме за вас трябва да се коригира или актуализирана.</p>

        <h3>12. Cookies - Бисквитки</h3>

        <p>Нашият сайт използват бисквитки.</p>

        <p>А бисквитка е файл, съдържащ идентификатор (низ от букви и цифри), който е изпратен от уеб сървър към уеб браузър и се съхранява от браузъра. След това идентификаторът се изпраща обратно на сървъра всеки път когато някоя от страниците на сървъра се зарежда.</p>

        <p>Cookies могат да бъдат "постоянна" бисквитки или "сесийни" бисквитки: постоянните бисквитки ще бъдат съхранявани от уеб браузъра и ще останат валидни до изтичане на срока, освен ако не бъдат изтрити от страна на потребителя преди изтичането на срока; сесийната бисквитка от друга страна ще изтече в края на потребителска сесия, когато уеб браузърът е затворен.</p>

        <p>Cookies обикновено не съдържат никаква информация, която лично да идентифицира даден потребител, но лична информация, която се съхранява за вас може да бъде свързано с информацията, съхранявана в и получена от бисквитки.</p>

        <p>Ние използваме и двата вида бисквитки на нашия уебсайт.</p>

        <p>Повечето браузъри позволяват бисквитките да бъдат блокирани. Потребителя е свободен да ги блокира по всяко време.</p>

        <p>Блокирането на всички бисквитки ще има отрицателно въздействие върху използваемостта на много сайтове.</p>

        <p>Ако блокирате бисквитките, вие няма да можете да използвате всички функции на нашия уебсайт.</p>

        <p>Вие можете да изтриете бисквитките, вече намиращи се на вашия компютър;</p>

        <p>Изтриване на бисквитките ще имат отрицателно въздействие върху използваемостта на много сайтове.</p>
    </div>
</section>