@{

    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Privacy Policy",
        Current = "Privacy",
        HasSearchField = false,
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704892/zdmjgypxdjn0j9lditqw.jpg"

    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />

<p>Use this page to detail your site's privacy policy.</p>