<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add Images
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" asp-area="Gallery" asp-controller="Gallery" asp-action="Upload">
                        <div class="custom-file">
                            <div class="input-group">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Choose File <input type="file" id="pdf-file" name="files" style="display: none;">
                                    </span>
                                </label>
                                <input type="text" class="form-control" id="pdf-name" placeholder="Select Images" readonly>
                                <label class="input-group-btn">
                                    <span class="btn btn-primary">
                                        Upload <input type="submit" class="btn btn-primary" style="display: none;" />
                                    </span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>