@using Dialog.ViewModels.Base
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Change your account settings",
        Current = "Account manage",
        HasSearchField = false,
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704892/vsqim7crkmv9egy3anmg.jpg"
    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}