@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Лични данни</h4>

<div class="row">
    <div class="col-md-6">
        <p>Вашият акаунт съдържа лична информация, която сте ни предоставили. Предоставяме Ви възможност да изтеглите или изтриете тази информация.</p>
        <p>
            <strong>Изтриването на тази информация ще премахне завинаги профила Ви и това не може да бъде възстановено.</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Изтегли</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}