@model NewsViewModel

@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = Model.Title,
        Parent = "News",
        ParentName = "Новини",
        Current = "News Details",
        CurrentName = "Новина",
        HasSearchField = false,
        ImageUri = Model.Image?.SecureUri ?? "https://res.cloudinary.com/aguzelov/image/upload/v1544704896/rdc9ezgkeratzej3otlx.jpg"
    };
}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Title</h2>
                <p>@Model.Content</p>

                <div class="about-author d-flex justify-content-between p-2 bg-light">
                    <div class="desc align-self-md-center">
                        <h5>от @Model.Author.UserName</h5>
                    </div>
                    @if (User.Identity.Name == Model.Author.UserName)
                    {
                        <div class="desc align-self-md-center ">
                            <a asp-area="Blog" asp-controller="Blog" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                        </div>
                    }
                </div>
            </div>

            <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form asp-area="News" asp-controller="News" asp-action="Search" method="get" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" name="searchTerm" class="form-control" placeholder="Търсене">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Последни постове</h3>
                    <partial name="~/Views/Shared/_RecentBlogPartial.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>