@model CreateViewModel

<br />
<br />
<br />
<br />
<h1>Create Blog Post</h1>

<form asp-area="Blog" asp-route="Blog/Create" method="post">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <br />
    <label asp-for="Content"></label>
    <textarea rows="10" asp-for="Content"></textarea>

    <input class="btn btn-primary py-3 px-5" type="submit" />
</form>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>