@model PostViewModel

@{
    var partialModel = new JumbotronPartialViewModel
    {
        Title = "Edit Blog Post",
        Current = "Edit",
        Parent = "Blog",
        ImageUri = "https://res.cloudinary.com/aguzelov/image/upload/v1544704889/sa3vhx2bn0rvbrws5wi5.jpg"
    };

}

<partial name="~/Views/Shared/_JumbotronPartial.cshtml" model=@partialModel />

<section class="ftco-section">
    <div class="container">
        <form enctype="multipart/form-data" asp-area="Blog" asp-route="Blog/Create" method="post">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <br />
            <label asp-for="Author"></label>
            <input asp-for="Author.UserName" disabled="disabled" />
            <br />
            <label asp-for="Content"></label>
            <textarea rows="10" asp-for="Content"></textarea>
            <br />
            <input asp-for="@Model.UploadImages" multiple />
            <br />
            <input class="btn btn-primary py-3 px-5" type="submit" />
        </form>
    </div>
</section>

<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>