<link href="~/css/chat.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

<button class="btn open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
    <div class="container-chat">
        <button type="button" class="btn close-button" onclick="closeForm()">&times;</button>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div id="messagesList" class="msg_history" style="white-space: pre-wrap;">
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" id="userInput" value="@User.Identity.Name" hidden="" />
                            <input type="text" id="chatInput" value="Global" hidden="" />
                            <textarea type="text"
                                      class="input_msg_write"
                                      id="messageInput"
                                      placeholder="Type a message"></textarea>
                            <button class="msg_send_btn" id="sendButton" type="button">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>

    function openForm() {
        document.getElementById("myForm").style.display = "block";
        scrollToBottom("messagesList");
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>