@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{

    <div class="fixed-bottom" data-scrollax-parent="true" id="cookieConsent" style=" background-color: rgba(0, 0, 0, 0.9);">
        <div class="container">
            <div class="d-flex justify-content-between ">
                <div class="desc align-self-md-center ">
                    <p class="text-info">
                        Този сайт използва бисквитки, за да ви даде възможно най-добрия опит. Приемайки, вие се съгласявате, че можем да запазваме „бисквитки“ на вашето устройство. Бисквитките са малки текстови файлове, поставени на вашето устройство, които помнят вашите предпочитания и някои подробности за вашето посещение. Бисквитките ни не събират лична информация. За повече информация и подробности, моля, прочетете <span><a asp-controller="Home" asp-action="Privacy">политиката</a></span> ни за поверителност и бисквитки.
                    </p>
                </div>
                <div class="desc align-self-md-center ">

                    <a class="btn btn-outline-info  text-info" data-cookie-string="@cookieString">
                        Приемам
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>

        (function () {
            document.querySelector("#cookieConsent a[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").style.display = "none";
            }, false);
        })();
    </script>
}